.task-details {
color: white;
text-align: center;
width: 90%;
margin-left: 5%;
background-color: inherit;
height: fit-content;
background: linear-gradient(#141e30, #243b55);
border-radius: 15px;
border:1px solid transparent;
padding: 10px;
box-shadow: 3px 3px 9px rgba(0,0,0,0.50);

}
.task-details ul li{
color: white;
}
.task-details .update{
    border-bottom: 1px solid tomato;
}
.task-details .update:first-of-type{
    border-top: 1px solid tomato;
    margin-top: 3vh;
}
.task-details .description{
    margin-top: 4vh;
}
.task-details .assigned{
    background-color: white;
    padding: 5px;
    color: black;
    border:1px solid tomato;
    margin: 2vh 0;
}